data/pkl/*.pkl
data/pkl/*.npz
notebooks/.ipynb_checkpoints
*.pyc
data/pkl/*.csv
*.~lock
train_scripts/vgg16_weights.h5
venv
repos
teviot.egg-info
train_scripts/train.npy
token
train_scripts/test.py
train_scripts/rbm_1_weights.h5
train_scripts/rbm_2_weights.h5
train_scripts/rbm_3_weights.h5
train_scripts/fine_rbm_weights.h5
train_scripts/info.log
train_scripts/error.log
